html {
    background: #6c6c6c
}

body, h1{
    font-family: "Segoe UI",  Helvetica, Arial, sans-serif;
    letter-spacing: 2px;
    margin-bottom: -70px;
    margin-right: 7px;
    margin-left: 8px;
    border-radius: 3px;
    /* padding: 60px; */
}

h1 {
    -webkit-text-stroke: 1.5px rgb(95, 95, 95);
    background-color: orange!important;
    margin-left: 2px;
    margin-right: 0px;
    margin-top: -2px;
    padding-left: 15px;
    color: white;
}

/* .profile {
    position: relative;
    left: 85%;
    bottom: -43px;

} */

.username, .button {
    text-decoration: none;
    font-family: "Segoe UI";
    font-weight: 500;
    letter-spacing: 2px;
    color: white;
    background-color: #ee9a00;
    padding: 5px;
    padding-top: 0px;
    padding-bottom: 1px;
    float: right;
}

.button {
    border-radius: 2px;
    margin-right: 0px;
    margin-left: 0px;
    padding-top: 10px;
    padding-bottom: 12px;
    float: left;
}

.topnav .button:hover {background-color: #917005;}


.username, .dropdown{
    border-radius: 3px;
    margin-right: 25px;
    margin-left: 20px;
    /* margin-top: -5px; */
    /* padding-top: 10px; */
    /* padding-bottom: 12px; */
    padding-right: 60px;
    float: right;
}

.dropdown{
    padding-left: 120px;
    /* position: relative;
    display: inline-block; */
}

.fa-caret-down{
    margin-top: 12px;
    margin-right: -230px;
    width: 10px;
}

.drop-content {
    border-radius: 2px;
    display: none;
    position: absolute;
    background-color: #929191;
    margin-top: 20px;
    margin-left: -136.5px;
    min-width:170px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.drop-content a {
    color: white;
    padding:10px 16px;
    text-decoration: none;
    display: block;
}


.dropdown:hover .drop-content {display:block;}
.dropdown:hover {
    padding-bottom: 60px;
}
.dropdown:hover .username {background-color: #917005;}
.drop-content a:hover {background-color: rgb(124, 124, 124);}

.topnav {
    position: relative;
    top: 27px;
    left: 350px;
    padding-right: 240px;
}

.dashboard {
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 125px;
    width: 1050px;
    height: 650px;
    border-style: solid;
    border-color: orange;
    border-width: 1px;
    border-radius: 5px;
    box-shadow: 5px 7px 40px 1px rgba(0,0,0,0.2);

}

.dashboard-nav {
    border-style: solid;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-width: 1px;
    background-color: orange;
}

.sales, .target, .revenue, .forecast, .chart {
    margin: 25px;
    width: 300px;
    height: 200px;

    background-color:grey;
    box-shadow: 5px 7px 20px 1px rgba(80, 80, 80, 0.2);
    float: left;
}
