/* Global Styles */
/* body {
  font-family: "Open Sans", Helvetica, Arial, sans-serif !important;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
}

.page-header {
	border-bottom: 0;
	margin-top: 0;
} */

/* Notification Styles */
#flash-container {
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 100;
  margin: 0;
}

.alert-box-fixed {
  margin: 0 15px 15px 0;
}

.btn-primary {
  background-color:#2D8BFF;
  border-color:#2D8BFF;
}

html {
  background: #6c6c6c
}

body, h1{
  font-family: "Segoe UI";
  letter-spacing: 2px;
  background-color: orange!important;
  margin-bottom: -70px;
  margin-right: 7px;
  margin-left: 8px;
  border-radius: 3px;
  /* padding: 60px; */
}

h1 {
  -webkit-text-stroke: 1.5px rgb(95, 95, 95);
  margin-left: 2px;
  margin-right: 0px;
  margin-top: 4px;
  padding-left: 15px;
  color: white;
}


/* .profile {
  position: relative;
  left: 85%;
  bottom: -43px;

} */

.username, .button {
  text-decoration: none;
  font-family: "Segoe UI";
  font-weight: 500;
  letter-spacing: 2px;
  color: white;
  background-color: #ee9a00;
  padding: 5px;
  padding-top: 0px;
  padding-bottom: 0px;
  margin-top: -4px;

  float: right;
}

.button {
  border-radius: 2px;
  margin-right: 0px;
  margin-left: 0px;
  padding-top: 11px;
  padding-bottom: 13px;
  float: left;
}

.topnav .button:hover {background-color: #917005;}

.topnav {
  width: 1500px;
}

.username, .dropdown{
  border-radius: 3px;
  margin-right: -35px;
  /* margin-left: 25px; */
  /* margin-top: -5px; */
  /* padding-top: 10px; */
  /* padding-bottom: 12px; */
  padding-right: 32px;
  float: right;
}

.dropdown{
  padding-left: 100px;
  margin-right: 100px;
  /* position: relative;
  display: inline-block; */
  /* background-color: #929191; */

}

.fa-caret-down{
  margin-top: 12px;
  margin-right: -200px;
  width: 10px;
}

.drop-content {
  border-radius: 2px;
  display: none;
  position: absolute;
  background-color: #929191;
  margin-top: 18px;
  margin-left: -118px;
  min-width:170px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.drop-content a {
  color: white;
  padding:10px 16px;
  text-decoration: none;
  display: block;
}


.dropdown:hover .drop-content {display:block;}
.dropdown:hover {
  padding-bottom: 90px;
}
.dropdown:hover .username {background-color: #917005;}
.drop-content a:hover {background-color: rgb(124, 124, 124);}

.topnav {
  position: relative;
  top: 26px;
  left: 400px;
  /* padding-right: 240px; */
}