/* Global Styles */
/* body {
  font-family: "Open Sans", Helvetica, Arial, sans-serif !important;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
}

.page-header {
	border-bottom: 0;
	margin-top: 0;
} */

/* Notification Styles */
#flash-container {
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 100;
  margin: 0;
}

.alert-box-fixed {
  margin: 0 15px 15px 0;
}

.btn-primary {
  background-color:#2D8BFF;
  border-color:#2D8BFF;
}

html {
  background: #6c6c6c
}

body, h1{
  background-color: #6c6c6c;
  font-family: "Segoe UI";
  letter-spacing: 2px;
  margin-bottom: -70px;
  margin-right: 7px;
  margin-left: 8px;
  border-radius: 3px;
}

h1 {
  background-color: orange!important;
  -webkit-text-stroke: 1.5px rgb(95, 95, 95);
  margin-left: 2px;
  margin-right: 0px;
  margin-top: 4px;
  padding-left: 15px;
  color: white;
}

h1:hover {
  color: rgb(238, 238, 238);
}

.topnav a {
  text-decoration: none;
}

.username, .navlink {
  text-decoration: none;
  font-family: "Segoe UI";
  font-weight: 500;
  letter-spacing: 2px;
  color: white;
  background-color: #ee9a00;
  padding: 5px;
  padding-top: 5px;
  padding-bottom: 3px;
  margin-top: -4px;

  float: right;
}

.navlink {
  border-radius: 2px;
  margin-right: 0px;
  margin-left: 0px;
  padding-top: 13px;
  padding-bottom: 15px;
  float: left;
}

.topnav .navlink:hover {
  background-color: #917005;
  color: rgb(216, 216, 216);
}

.username, .dropdown{
  border-radius: 3px;
  margin-right: -40px;
  /* margin-left: 25px; */
  /* margin-top: -5px; */
  /* padding-top: 10px; */
  /* padding-bottom: 12px; */
  padding-right: 45px;
  float: right;
}

.dropdown{
  position: relative;
  display: inline-block;
  padding-left: 42.5px;
  margin-right: -5px;
  /* background-color: #929191; */

}

.fa-caret-down{
  position: relative;
  left: 150px!important;
  margin-top: 12px;
  /* margin-right: -250px; */
  /* margin-left: 400px; */
  padding-left: 0px;
  padding-right: 0px;
  width: 10px;
}

.drop-content {
  border-radius: 2px;
  display: none;
  position: absolute;
  background-color: #929191;
  margin-top: 18px;
  margin-left: 7px;
  max-width:200px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.drop-content a {
  color: white;
  padding:10px 16px;
  text-decoration: none;
  display: block;
}


.dropdown:hover .drop-content {display:block;}
.dropdown:hover {padding-bottom: 90px;}
.dropdown:hover .username {
  background-color: #917005;
  color: rgb(216, 216, 216);
}
.drop-content a:hover {
  background-color: rgb(124, 124, 124);
  color: rgb(216, 216, 216);
}

.topnav {
  position: relative;
  max-width: 1500px;
  top: 26px;
  left: 400px;
  margin-right: 400px;
}

.dashboard {
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 75px;
  width: 1055px;
  height: 650px;
  border-style: solid;
  border-color: orange;
  border-width: 0px;
  border-radius: 5px;
  box-shadow: 5px 7px 40px 1px rgba(0,0,0,0.2);
}

.inventory {
  /* margin:auto; */
  margin-right: 50px;
  margin-left: 50px;
  margin-top: 75px;
  padding-bottom: 20px;
  min-width: 1200px;
  max-width: 1455px;
  min-height: 450px;
  border-style: solid;
  border-color: orange;
  border-width: 0px;
  border-radius: 5px;
  box-shadow: 5px 7px 40px 1px rgba(0,0,0,0.2);
}

.button {
  background-color: rgb(245, 245, 245);
  border: none;
  color: black;
  padding: 5px 15px;
  margin-top: 5px;
  margin-bottom: 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
.button:hover {
  background-color: #dad8d8;
}

.dashboard-nav {
  border-style: solid;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  border-width: 1px;
  background-color: orange;
}

.sales, .target, .revenue, .forecast, .chart {
  margin: 25px;
  width: 300px;
  height: 200px;

  background-color:grey;
  box-shadow: 5px 7px 20px 1px rgba(80, 80, 80, 0.2);
  float: left;
}
