{{define "title"}}Open Inventory{{end}}
{{define "head"}}
<script type="text/javascript" charset="utf8" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.bundle.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.bundle.min.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.min.js"></script>
{{end}}
{{define "content"}}

<!-- <div> You're in! </div> -->
<body>
	<div class="dashboard">
			<!-- <div id="dash" class="dashboard-nav">
				<span style="margin:0px; margin-left: 10px; color: white; letter-spacing: 2px">DASHBOARD - WEEK</span>
				<span style="color: white; float: right; padding-right: 10px; margin-top: -2px; font-weight: bold">–</span>
			</div>
			<div class="sales">
				<p> <center style="color:rgb(228, 228, 228); letter-spacing: 1px;">Sales</center> </p>
				<p> <center style="color:rgb(228, 228, 228); font-size: 72px; letter-spacing: 1px">2032</center> </p>
	
			</div>
	
			<div class="target">
					<p> <center style="color:rgb(228, 228, 228); letter-spacing: 1px">% of Target</center> </p>
					<p> <center style="color:rgb(228, 228, 228); font-size: 72px; letter-spacing: 1px">85%</center> </p>
			</div>
	
			<div class="revenue">
					<p> <center style="color:rgb(228, 228, 228); letter-spacing: 1px">Revenue</center> </p>
					<p> <center style="color:rgb(228, 228, 228); font-size: 65px; letter-spacing: 1px">$71,120</center> </p>
	
			</div>
	
			<div class="forecast">
					<p> <center style="color:rgb(228, 228, 228); letter-spacing: 1px">October Expected Revenue</center> </p>
					<p> <center style="color:rgb(228, 228, 228); font-size: 65px; letter-spacing: 1px">$284,380</center> </p>
			</div> -->
			
			<canvas id="salesChart" width="650" height="350"></canvas>
			<!-- <object style="background-color: grey; margin: 25px; margin-top: 10px; box-shadow: 5px 7px 20px 1px rgba(20, 20, 20, 0.2);" width="650" height="350" data="static/charts/chart_1.html"></object> -->
	
	</div>
</body>

{{end}}
{{define "foot"}}
		<script src="static/js/salesChart.js"></script>
{{end}}