{{define "title"}}Open Inventory{{end}}
{{define "head"}}{{end}}
{{define "content"}}

<!-- <div> You're in! </div> -->
<body>
	<div class="dashboard">
		<div id="dash" class="dashboard-nav">
			<span style="margin:0px; margin-left: 10px; color: white; letter-spacing: 2px">Orders</span>
		</div>
	</div>
</body>

{{end}}
{{define "foot"}}
		<script src="static/js/app.js"></script>
{{end}}
