{{define "title"}}Open Inventory{{end}}
{{define "head"}}{{end}}
{{define "content"}}

<!-- <div> You're in! </div> -->

<body>
    <div class="dashboard">
        <h1>test</h1>
    </div>
</body>

{{end}}
{{define "foot"}}
<script src="static/js/test.js"></script>
{{end}}