{{if eq .AuthLevel "auth"}}


<a href="{{.BaseURI}}" style="text-decoration: none"><h1>OPEN INVENTORY</h1></a>

	<div class="topnav">
		<a class="navlink" href="{{.BaseURI}}Inventory">INVENTORY</a>
		<a class="navlink" href="{{.BaseURI}}sales">METRICS</a>
		<a class="navlink" href="{{.BaseURI}}test">TEST</a>
		<!-- <div class="username" href=""  title="Username">HELLO USERNAME</div> -->
		<div class="dropdown">
				<a class="username" href=""  title="Username">HELLO, <br /> USERNAME</a>
				<i class="fa fa-caret-down"></i>
				<div class="drop-content">
						<a href="#"><center>PREFERENCES</center></a>
						<a href="#"><center>PERMISSIONS</center></a>
						<a href="{{.BaseURI}}logout"><center>SIGN OUT</center></a>
					</div>
			</div>
	</div>
<!-- 
 <ul class="nav navbar-nav navbar-right">
  <li><a href="{{.BaseURI}}logout" style="color:white">Sign Out</a></li>
</ul>  -->

{{end}}